.Product-Container {
    position: relative;
    width: 100%;
    height: 0 auto;
}

.Product-Container .Img-Product {
    float: left;
    width: 360px;
    height: auto;
    margin-right: 5px;
}

.Product-Container .Brand {
    font-size: 40px;
    color: #F8F7F7;
    font-weight: bold;
}
.Description {
    color: #F8F7F7;
}
.Price {
    font-size: 30px;
    color: #F8F7F7;
}
.Product-Container li {
    list-style: none;
}

.Product-Container .List-Color {
    display: flex;
    flex-wrap: wrap;
}

.Product-Container .List-Color li {
    margin: 5px;
}

.Product-Container .List-Color li .View-Color-Button{
    margin: 0 auto;
    height: 50px;
}

.Product-Container .List-Sizes {
    display: flex;
    flex-wrap: wrap;
}
.Product-Container .List-Sizes li {
    margin: 5px;
}
.Product-Container .Buttons-Amount-Container {
    margin: auto;
    height: 60px;
}

.Product-Container .Buttons-Amount-Container .Button-Amount {
    float: left;
    margin: 5px;
    height: auto;
    padding: auto;
}

.Product-Container .Buttons-Amount-Container .Amount-text {
    float: left;
    font-size: 30px;
    color: #ffe600;
    height: auto;
    padding: auto;
}


.Product-Container .Add-Shopping-Container {
    clear: both;
    margin: auto;
    padding: auto;
}

.Product-Container .Add-Shopping-Container .Add-Shoppin-Cart-Button {
    text-align: left;
    margin: auto;
    padding: auto;
}

.List-Products-Container {
    width: 100%;
    width: 100%;
    /* height: 400px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.List-Products-Container .Product-Card{
    float: left;
    margin: 20px;
}

.Buttons {
    display: flex;
    justify-content: space-around;
}